
    <h1>
        Uptime Monitoring
    </h1>
    <h2>Made Simple</h2>

    <div class="blurb">
        We offer free, simple uptime monitoring for HTTP/HTTPS sites of all kinds. When your site goes down we'll send you a text to let you know
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore quae nihil in corporis ea mollitia nisi similique deserunt nostrum? Voluptatibus itaque assumenda totam optio neque commodi praesentium, repudiandae ab recusandae.Animi expedita aspernatur sint, ut excepturi esse odio molestias veritatis magnam, quas impedit nam rem eos delectus similique quod, repellendus maxime soluta velit natus. Sapiente officia ducimus natus laudantium minus.
    </div>

    <div class="ctaWrapper">
        <a href="account/create" class="cta green">Get Started</a>
        <a href="session/create" class="cta blue">Log in</a>
    </div>
